{% extends 'base.html.twig' %}

{% block title %}parfum homme
{% endblock %}

{% block body %}

	<div class="carousel">
		<div class="carousel-item active">
			<img src="{{ asset('carousselHomme/acqua-di-gio-profondo-parfum.jpg') }}" alt="Slide 2">
		</div>
		<div class="carousel-item ">
			<img src="{{ asset('carousselHomme/azzaro-wanted-eau-de-toilette-intense.jpg') }}" alt="Slide 3">
		</div>
		<div class="carousel-item">
			<img src="{{ asset('carousselHomme/coffret-armani-code.jpg') }}" alt="Slide 3">
		</div>
		<div class="carousel-item">
			<img src="{{ asset('carousselHomme/myslf-yves-saint-laurent.jpg') }}" alt="Slide 3">
		</div>
		<div class="carousel-item">
			<img src="{{ asset('carousselHomme/the-most-wanted-azzaro.jpg') }}" alt="Slide 3">
		</div>
		<div class="carousel-controls">
			<button class="carousel-control prev" onclick="changeSlide(-1)">&#10094;</button>
			<button class="carousel-control next" onclick="changeSlide(1)">&#10095;</button>
		</div>


	</div>


	<div class="content">
		<div class="filters">
			<h2>Filtrer</h2>
			{{ form_start(form) }}
			<div class="form-group">
				{{ form_label(form.marque) }}
				{{ form_widget(form.marque) }}
			</div>
			<div class="form-group">
				{{ form_label(form.concentration) }}
				{{ form_widget(form.concentration) }}
			</div>
			<div class="form-group">
				{{ form_label(form.prix) }}
				{{ form_widget(form.prix) }}
			</div>
			<button type="submit">Appliquer</button>
			{{ form_end(form) }}
		</div>


		<section class="section_filter">
			<h1 class='section_titre'>Découvrer nos <strong> Parfums Homme</strong></h1>
			<div class="products">
				{% for parfum in parfums %}

					<div class="product-card">
						<div class='container-image'>
							{% set promotion_url = null %}
							{% for detail in parfum.detailsParfums %}
								{% if detail.promotion and promotion_url is null %}
									{% set promotion_url = path('produits_promotions', { id: detail.id }) %}
								{% endif %}
							{% endfor %}

							{% if promotion_url %}
								<a href="{{ promotion_url }}">
									<img src="{{ asset('uploads/images/' ~ parfum.image) }}" alt="{{ parfum.nom }}" width="140" height="140">
								</a>
							{% else %}
								<a href="{{ path('produit_detail', { id: parfum.id }) }}">
									<img src="{{ asset('uploads/images/' ~ parfum.image) }}" alt="{{ parfum.nom }}" width="140" height="140">
								</a>
							{% endif %}
						</div>
						{% set has_promotion = false %}
						{% set pourcentage_promotion = 0 %}
						{% for detail in parfum.detailsParfums %}
							{% if detail.promotion %}
								{% set has_promotion = true %}
								{% set pourcentage_promotion = detail.pourcentagePromotion %}
							{% endif %}
						{% endfor %}

						{% if has_promotion %}
							<div class="badge-promotion">
								{{ pourcentage_promotion }}%
							</div>
						{% endif %}
						<span class='coffrets-marque'>{{ parfum.marque }}
						</span>
						<span class='coffrets-nom'>{{ parfum.nom }}</span>
						{% set prix = parfum.getPrix() %}
						{% if not parfum.isCoffret %}
							<div class='coffrets-prix'>
								<p class='prix_texte'>à partir de</p>
								<span class='prix'>{{ min(prix) }}
									€</span>
							</div>
						{% else %}
							<div class='coffrets-prix'>
								<span class='prix'>{{ min(prix) }}
									€</span>
							</div>
						{% endif %}
					</div>


				{% endfor %}
			</div>


		</section>


	</div>
	<script>
		let currentSlide = 0;
const slides = document.querySelectorAll('.carousel-item');
const totalSlides = slides.length;

function changeSlide(direction) {
slides[currentSlide].classList.remove('active');
currentSlide = (currentSlide + direction + totalSlides) % totalSlides;
slides[currentSlide].classList.add('active');
}

setInterval(() => changeSlide(1), 5000); // Change de diapositive toutes les 5 secondes
	</script>

{% endblock %}
